
/* banner main section css start */

.banner-main{
    background: url("../img/banner.png") no-repeat;
    padding: 40px 0;
    background-size: cover;
}

.mo-left-img img{
    float: right;
}

.logo{
    margin: 50px auto 0;
}

.logo img{
    margin: 0 auto;
}

.commom-title {
    color: #fff;
    font-size: 26px;
    margin: 50px 0 10px;
}

/* banner main section css end */

/* screen-main section css start */

.screen-main{
    background: #fff;
    padding: 40px 0;
}

.screen-title{
    color: #757171;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.screen-title::before{
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    background: #1C98F6;
    left: 50%;
    margin-left: -40px;
    margin-top: 60px;
}

.mobile-img{
    padding: 0;
}

.mobile-img img{
    width: 100%;
}

/* screen-main section css end */

/* footer-main section css start */

.footer-main{
    background: #F6F4F4;
    border-top: 1px solid #D3D0D0;
    padding: 40px 0;
}

.message-logo{

}

.message-logo img{
    margin: 0 auto;
}

.message-logo a{
    color: #CED0D2;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    margin: 15px auto;
}

.message-logo span{
    color: #CED0D2;
    font-size: 30px;
    display: block;
    padding-top: 10px;
}

.message-logo span::before{
    position: absolute;
    content: "";
    width: 25%;
    height: 2px;
    background: #CED0D2;
    left: 50%;
    margin-left: -130px;
    margin-top: -10px;
}
/* footer-main section css end */

@media only screen and (min-width: 320px) and (max-width: 480px){

    .message-logo span::before {
        margin-left: -35px;
    }

    .mo-left-img img {
        float: unset;
        margin: 0 auto;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1024px){

    .logo{
        margin-top: 0;
    }

    .commom-title {
        margin: 35px 0 0;
    }

    .message-logo span::before {
        margin-left: -85px;
    }
}
