@font-face {
    font-family: icomoon;
    src: url('icomoon.eot');
    src: url('icomoond41d.eot?#iefix') format("embedded-opentype"), url('icomoon.ttf') format("truetype"), url('icomoon.woff') format("woff"), url('icomoon.svg#icomoon') format("svg");
    font-weight: 400;
    font-style: normal
}

.imoon {
    font-family: icomoon;
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.imoon-lg {
    font-size: 1.3333333333333em;
    line-height: .75em;
    vertical-align: -15%
}

.imoon-2x {
    font-size: 2em
}

.imoon-3x {
    font-size: 3em
}

.imoon-4x {
    font-size: 4em
}

.imoon-5x {
    font-size: 5em
}

.imoon-home:before {
    content: "\e600"
}

.imoon-home2:before {
    content: "\e601"
}

.imoon-home3:before {
    content: "\e602"
}

.imoon-office:before {
    content: "\e603"
}

.imoon-newspaper:before {
    content: "\e604"
}

.imoon-pencil:before {
    content: "\e605"
}

.imoon-pencil2:before {
    content: "\e606"
}

.imoon-quill:before {
    content: "\e607"
}

.imoon-pen:before {
    content: "\e608"
}

.imoon-blog:before {
    content: "\e609"
}

.imoon-droplet:before {
    content: "\e60a"
}

.imoon-paint-format:before {
    content: "\e60b"
}

.imoon-image:before {
    content: "\e60c"
}

.imoon-image2:before {
    content: "\e60d"
}

.imoon-film:before {
    content: "\e60e"
}

.imoon-camera:before {
    content: "\e60f"
}

.imoon-dice:before {
    content: "\e610"
}

.imoon-pacman:before {
    content: "\e611"
}

.imoon-spades:before {
    content: "\e612"
}

.imoon-clubs:before {
    content: "\e613"
}

.imoon-diamonds:before {
    content: "\e614"
}

.imoon-pawn:before {
    content: "\e615"
}

.imoon-bullhorn:before {
    content: "\e616"
}

.imoon-connection:before {
    content: "\e617"
}

.imoon-podcast:before {
    content: "\e618"
}

.imoon-feed:before {
    content: "\e619"
}

.imoon-book:before {
    content: "\e61a"
}

.imoon-books:before {
    content: "\e61b"
}

.imoon-file:before {
    content: "\e61c"
}

.imoon-copy:before {
    content: "\e61d"
}

.imoon-copy2:before {
    content: "\e61e"
}

.imoon-copy3:before {
    content: "\e61f"
}

.imoon-paste:before {
    content: "\e620"
}

.imoon-paste2:before {
    content: "\e621"
}

.imoon-paste3:before {
    content: "\e622"
}

.imoon-stack:before {
    content: "\e623"
}

.imoon-folder:before {
    content: "\e624"
}

.imoon-folder-open:before {
    content: "\e625"
}

.imoon-tag:before {
    content: "\e626"
}

.imoon-tags:before {
    content: "\e627"
}

.imoon-barcode:before {
    content: "\e628"
}

.imoon-qrcode:before {
    content: "\e629"
}

.imoon-credit:before {
    content: "\e62a"
}

.imoon-calculate:before {
    content: "\e62b"
}

.imoon-support:before {
    content: "\e62c"
}

.imoon-phone:before {
    content: "\e62d"
}

.imoon-phone-hang-up:before {
    content: "\e62e"
}

.imoon-address-book:before {
    content: "\e62f"
}

.imoon-notebook:before {
    content: "\e630"
}

.imoon-envelop:before {
    content: "\e631"
}

.imoon-pushpin:before {
    content: "\e632"
}

.imoon-location:before {
    content: "\e633"
}

.imoon-location2:before {
    content: "\e634"
}

.imoon-compass:before {
    content: "\e635"
}

.imoon-map:before {
    content: "\e636"
}

.imoon-map2:before {
    content: "\e637"
}

.imoon-bell:before {
    content: "\e638"
}

.imoon-stopwatch:before {
    content: "\e639"
}

.imoon-calendar:before {
    content: "\e63a"
}

.imoon-calendar2:before {
    content: "\e63b"
}

.imoon-print:before {
    content: "\e63c"
}

.imoon-keyboard:before {
    content: "\e63d"
}

.imoon-screen:before {
    content: "\e63e"
}

.imoon-laptop:before {
    content: "\e63f"
}

.imoon-mobile:before {
    content: "\e640"
}

.imoon-mobile2:before {
    content: "\e641"
}

.imoon-tablet:before {
    content: "\e642"
}

.imoon-tv:before {
    content: "\e643"
}

.imoon-cabinet:before {
    content: "\e644"
}

.imoon-drawer:before {
    content: "\e645"
}

.imoon-upload:before {
    content: "\e646"
}

.imoon-disk:before {
    content: "\e647"
}

.imoon-storage:before {
    content: "\e648"
}

.imoon-undo:before {
    content: "\e649"
}

.imoon-redo:before {
    content: "\e64a"
}

.imoon-flip:before {
    content: "\e64b"
}

.imoon-flip2:before {
    content: "\e64c"
}

.imoon-undo2:before {
    content: "\e64d"
}

.imoon-redo2:before {
    content: "\e64e"
}

.imoon-forward:before {
    content: "\e64f"
}

.imoon-reply:before {
    content: "\e650"
}

.imoon-bubble:before {
    content: "\e651"
}

.imoon-bubbles:before {
    content: "\e652"
}

.imoon-bubbles2:before {
    content: "\e653"
}

.imoon-user:before {
    content: "\e654"
}

.imoon-users:before {
    content: "\e655"
}

.imoon-user2:before {
    content: "\e656"
}

.imoon-user3:before {
    content: "\e657"
}

.imoon-quotes-left:before {
    content: "\e658"
}

.imoon-busy:before {
    content: "\e659"
}

.imoon-spinner:before {
    content: "\e65a"
}

.imoon-spinner2:before {
    content: "\e65b"
}

.imoon-spinner3:before {
    content: "\e65c"
}

.imoon-spinner4:before {
    content: "\e65d"
}

.imoon-spinner5:before {
    content: "\e65e"
}

.imoon-spinner6:before {
    content: "\e65f"
}

.imoon-binoculars:before {
    content: "\e660"
}

.imoon-search:before {
    content: "\e661"
}

.imoon-contract:before {
    content: "\e662"
}

.imoon-key:before {
    content: "\e663"
}

.imoon-key2:before {
    content: "\e664"
}

.imoon-lock:before {
    content: "\e665"
}

.imoon-lock2:before {
    content: "\e666"
}

.imoon-unlocked:before {
    content: "\e667"
}

.imoon-wrench:before {
    content: "\e668"
}

.imoon-settings:before {
    content: "\e669"
}

.imoon-equalizer:before {
    content: "\e66a"
}

.imoon-cog:before {
    content: "\e66b"
}

.imoon-cogs:before {
    content: "\e66c"
}

.imoon-cog2:before {
    content: "\e66d"
}

.imoon-hammer:before {
    content: "\e66e"
}

.imoon-wand:before {
    content: "\e66f"
}

.imoon-bars:before {
    content: "\e670"
}

.imoon-gift:before {
    content: "\e671"
}

.imoon-trophy:before {
    content: "\e672"
}

.imoon-glass:before {
    content: "\e673"
}

.imoon-mug:before {
    content: "\e674"
}

.imoon-food:before {
    content: "\e675"
}

.imoon-leaf:before {
    content: "\e676"
}

.imoon-rocket:before {
    content: "\e677"
}

.imoon-meter:before {
    content: "\e678"
}

.imoon-meter2:before {
    content: "\e679"
}

.imoon-dashboard:before {
    content: "\e67a"
}

.imoon-hammer2:before {
    content: "\e67b"
}

.imoon-fire:before {
    content: "\e67c"
}

.imoon-lab:before {
    content: "\e67d"
}

.imoon-truck:before {
    content: "\e67e"
}

.imoon-road:before {
    content: "\e67f"
}

.imoon-accessibility:before {
    content: "\e680"
}

.imoon-target:before {
    content: "\e681"
}

.imoon-shield:before {
    content: "\e682"
}

.imoon-lightning:before {
    content: "\e683"
}

.imoon-switch:before {
    content: "\e684"
}

.imoon-power-cord:before {
    content: "\e685"
}

.imoon-signup:before {
    content: "\e686"
}

.imoon-list:before {
    content: "\e687"
}

.imoon-list2:before {
    content: "\e688"
}

.imoon-numbered-list:before {
    content: "\e689"
}

.imoon-menu:before {
    content: "\e68a"
}

.imoon-menu2:before {
    content: "\e68b"
}

.imoon-upload2:before {
    content: "\e68c"
}

.imoon-download:before {
    content: "\e68d"
}

.imoon-upload3:before {
    content: "\e68e"
}

.imoon-globe:before {
    content: "\e68f"
}

.imoon-earth:before {
    content: "\e690"
}

.imoon-link:before {
    content: "\e691"
}

.imoon-flag:before {
    content: "\e692"
}

.imoon-attachment:before {
    content: "\e693"
}

.imoon-eye:before {
    content: "\e694"
}

.imoon-eye-blocked:before {
    content: "\e695"
}

.imoon-eye2:before {
    content: "\e696"
}

.imoon-bookmark:before {
    content: "\e697"
}

.imoon-bookmarks:before {
    content: "\e698"
}

.imoon-brightness-medium:before {
    content: "\e699"
}

.imoon-heart:before {
    content: "\e69a"
}

.imoon-heart2:before {
    content: "\e69b"
}

.imoon-heart-broken:before {
    content: "\e69c"
}

.imoon-thumbs-up:before {
    content: "\e69d"
}

.imoon-thumbs-up2:before {
    content: "\e69e"
}

.imoon-happy:before {
    content: "\e69f"
}

.imoon-happy2:before {
    content: "\e6a0"
}

.imoon-smiley:before {
    content: "\e6a1"
}

.imoon-smiley2:before {
    content: "\e6a2"
}

.imoon-tongue:before {
    content: "\e6a3"
}

.imoon-tongue2:before {
    content: "\e6a4"
}

.imoon-sad:before {
    content: "\e6a5"
}

.imoon-sad2:before {
    content: "\e6a6"
}

.imoon-wink:before {
    content: "\e6a7"
}

.imoon-angry:before {
    content: "\e6a8"
}

.imoon-angry2:before {
    content: "\e6a9"
}

.imoon-evil:before {
    content: "\e6aa"
}

.imoon-evil2:before {
    content: "\e6ab"
}

.imoon-shocked:before {
    content: "\e6ac"
}

.imoon-shocked2:before {
    content: "\e6ad"
}

.imoon-confused:before {
    content: "\e6ae"
}

.imoon-confused2:before {
    content: "\e6af"
}

.imoon-neutral:before {
    content: "\e6b0"
}

.imoon-neutral2:before {
    content: "\e6b1"
}

.imoon-wondering:before {
    content: "\e6b2"
}

.imoon-wondering2:before {
    content: "\e6b3"
}

.imoon-point-up:before {
    content: "\e6b4"
}

.imoon-point-right:before {
    content: "\e6b5"
}

.imoon-info:before {
    content: "\e6b6"
}

.imoon-info2:before {
    content: "\e6b7"
}

.imoon-blocked:before {
    content: "\e6b8"
}

.imoon-cancel-circle:before {
    content: "\e6b9"
}

.imoon-checkmark-circle:before {
    content: "\e6ba"
}

.imoon-spam:before {
    content: "\e6bb"
}

.imoon-close:before {
    content: "\e6bc"
}

.imoon-checkmark:before {
    content: "\e6bd"
}

.imoon-checkmark2:before {
    content: "\e6be"
}

.imoon-spell-check:before {
    content: "\e6bf"
}

.imoon-minus:before {
    content: "\e6c0"
}

.imoon-plus:before {
    content: "\e6c1"
}

.imoon-enter:before {
    content: "\e6c2"
}

.imoon-exit:before {
    content: "\e6c3"
}

.imoon-play:before {
    content: "\e6c4"
}

.imoon-pause:before {
    content: "\e6c5"
}

.imoon-stop:before {
    content: "\e6c6"
}

.imoon-backward:before {
    content: "\e6c7"
}

.imoon-forward2:before {
    content: "\e6c8"
}

.imoon-first:before {
    content: "\e6c9"
}

.imoon-last:before {
    content: "\e6ca"
}

.imoon-previous:before {
    content: "\e6cb"
}

.imoon-next:before {
    content: "\e6cc"
}

.imoon-eject:before {
    content: "\e6cd"
}

.imoon-volume-high:before {
    content: "\e6ce"
}

.imoon-volume-medium:before {
    content: "\e6cf"
}

.imoon-volume-low:before {
    content: "\e6d0"
}

.imoon-volume-mute:before {
    content: "\e6d1"
}

.imoon-loop:before {
    content: "\e6d2"
}

.imoon-shuffle:before {
    content: "\e6d3"
}

.imoon-arrow-up-left:before {
    content: "\e6d4"
}

.imoon-arrow-up:before {
    content: "\e6d5"
}

.imoon-arrow-up-right:before {
    content: "\e6d6"
}

.imoon-arrow-right:before {
    content: "\e6d7"
}

.imoon-arrow-down-right:before {
    content: "\e6d8"
}

.imoon-arrow-down:before {
    content: "\e6d9"
}

.imoon-arrow-down-left:before {
    content: "\e6da"
}

.imoon-arrow-left:before {
    content: "\e6db"
}

.imoon-arrow-up-left2:before {
    content: "\e6dc"
}

.imoon-arrow-up2:before {
    content: "\e6dd"
}

.imoon-arrow-up-right2:before {
    content: "\e6de"
}

.imoon-arrow-right2:before {
    content: "\e6df"
}

.imoon-arrow-up3:before {
    content: "\e6e0"
}

.imoon-arrow-up-right3:before {
    content: "\e6e1"
}

.imoon-arrow-right3:before {
    content: "\e6e2"
}

.imoon-arrow-down-right2:before {
    content: "\e6e3"
}

.imoon-arrow-down2:before {
    content: "\e6e4"
}

.imoon-arrow-down-left2:before {
    content: "\e6e5"
}

.imoon-arrow-left2:before {
    content: "\e6e6"
}

.imoon-tab:before {
    content: "\e6e7"
}

.imoon-checkbox-checked:before {
    content: "\e6e8"
}

.imoon-checkbox-unchecked:before {
    content: "\e6e9"
}

.imoon-checkbox-partial:before {
    content: "\e6ea"
}

.imoon-radio-checked:before {
    content: "\e6eb"
}

.imoon-radio-unchecked:before {
    content: "\e6ec"
}

.imoon-crop:before {
    content: "\e6ed"
}

.imoon-text-width:before {
    content: "\e6ee"
}

.imoon-bold:before {
    content: "\e6ef"
}

.imoon-underline:before {
    content: "\e6f0"
}

.imoon-italic:before {
    content: "\e6f1"
}

.imoon-strikethrough:before {
    content: "\e6f2"
}

.imoon-omega:before {
    content: "\e6f3"
}

.imoon-sigma:before {
    content: "\e6f4"
}

.imoon-table:before {
    content: "\e6f5"
}

.imoon-table2:before {
    content: "\e6f6"
}

.imoon-insert-template:before {
    content: "\e6f7"
}

.imoon-pilcrow:before {
    content: "\e6f8"
}

.imoon-left-toright:before {
    content: "\e6f9"
}

.imoon-right-toleft:before {
    content: "\e6fa"
}

.imoon-paragraph-left:before {
    content: "\e6fb"
}

.imoon-paragraph-right:before {
    content: "\e6fc"
}

.imoon-paragraph-justify:before {
    content: "\e6fd"
}

.imoon-indent-increase:before {
    content: "\e6fe"
}

.imoon-indent-decrease:before {
    content: "\e6ff"
}

.imoon-new-tab:before {
    content: "\e700"
}

.imoon-embed:before {
    content: "\e701"
}

.imoon-code:before {
    content: "\e702"
}

.imoon-console:before {
    content: "\e703"
}

.imoon-share:before {
    content: "\e704"
}

.imoon-mail:before {
    content: "\e705"
}

.imoon-mail2:before {
    content: "\e706"
}

.imoon-mail3:before {
    content: "\e707"
}

.imoon-mail4:before {
    content: "\e708"
}

.imoon-google:before {
    content: "\e709"
}

.imoon-facebook:before {
    content: "\e70a"
}

.imoon-facebook2:before {
    content: "\e70b"
}

.imoon-facebook3:before {
    content: "\e70c"
}

.imoon-instagram:before {
    content: "\e70d"
}

.imoon-twitter:before {
    content: "\e70e"
}

.imoon-twitter2:before {
    content: "\e70f"
}

.imoon-twitter3:before {
    content: "\e710"
}

.imoon-feed2:before {
    content: "\e711"
}

.imoon-feed3:before {
    content: "\e712"
}

.imoon-feed4:before {
    content: "\e713"
}

.imoon-youtube:before {
    content: "\e714"
}

.imoon-youtube2:before {
    content: "\e715"
}

.imoon-vimeo:before {
    content: "\e716"
}

.imoon-vimeo2:before {
    content: "\e717"
}

.imoon-flickr:before {
    content: "\e718"
}

.imoon-picassa:before {
    content: "\e719"
}

.imoon-picassa2:before {
    content: "\e71a"
}

.imoon-dribbble:before {
    content: "\e71b"
}

.imoon-dribbble2:before {
    content: "\e71c"
}

.imoon-dribbble3:before {
    content: "\e71d"
}

.imoon-forrst:before {
    content: "\e71e"
}

.imoon-forrst2:before {
    content: "\e71f"
}

.imoon-deviantart:before {
    content: "\e720"
}

.imoon-deviantart2:before {
    content: "\e721"
}

.imoon-steam:before {
    content: "\e722"
}

.imoon-steam2:before {
    content: "\e723"
}

.imoon-github:before {
    content: "\e724"
}

.imoon-github2:before {
    content: "\e725"
}

.imoon-joomla:before {
    content: "\e726"
}

.imoon-blogger:before {
    content: "\e727"
}

.imoon-blogger2:before {
    content: "\e728"
}

.imoon-tumblr:before {
    content: "\e729"
}

.imoon-tumblr2:before {
    content: "\e72a"
}

.imoon-yahoo:before {
    content: "\e72b"
}

.imoon-tux:before {
    content: "\e72c"
}

.imoon-apple:before {
    content: "\e72d"
}

.imoon-finder:before {
    content: "\e72e"
}

.imoon-android:before {
    content: "\e72f"
}

.imoon-windows:before {
    content: "\e730"
}

.imoon-windows8:before {
    content: "\e731"
}

.imoon-soundcloud:before {
    content: "\e732"
}

.imoon-soundcloud2:before {
    content: "\e733"
}

.imoon-delicious:before {
    content: "\e734"
}

.imoon-stumbleupon:before {
    content: "\e735"
}

.imoon-stumbleupon2:before {
    content: "\e736"
}

.imoon-stackoverflow:before {
    content: "\e737"
}

.imoon-pinterest:before {
    content: "\e738"
}

.imoon-pinterest2:before {
    content: "\e739"
}

.imoon-xing:before {
    content: "\e73a"
}

.imoon-xing2:before {
    content: "\e73b"
}

.imoon-flattr:before {
    content: "\e73c"
}

.imoon-foursquare:before {
    content: "\e73d"
}

.imoon-foursquare2:before {
    content: "\e73e"
}

.imoon-paypal:before {
    content: "\e73f"
}

.imoon-paypal2:before {
    content: "\e740"
}

.imoon-paypal3:before {
    content: "\e741"
}

.imoon-file-excel:before {
    content: "\e742"
}

.imoon-file-zip:before {
    content: "\e743"
}

.imoon-file-powerpoint:before {
    content: "\e744"
}

.imoon-file-xml:before {
    content: "\e745"
}

.imoon-file-css:before {
    content: "\e746"
}

.imoon-html5:before {
    content: "\e747"
}

.imoon-html52:before {
    content: "\e748"
}

.imoon-css3:before {
    content: "\e749"
}

.imoon-chrome:before {
    content: "\e74a"
}

.imoon-firefox:before {
    content: "\e74b"
}

.imoon-IE:before {
    content: "\e74c"
}

.imoon-opera:before {
    content: "\e74d"
}

.imoon-safari:before {
    content: "\e74e"
}

.imoon-IcoMoon:before {
    content: "\e74f"
}

.imoon-library:before {
    content: "\e750"
}

.imoon-file2:before {
    content: "\e751"
}

.imoon-profile:before {
    content: "\e752"
}

.imoon-file3:before {
    content: "\e753"
}

.imoon-file4:before {
    content: "\e754"
}

.imoon-ticket:before {
    content: "\e755"
}

.imoon-cart:before {
    content: "\e756"
}

.imoon-cart2:before {
    content: "\e757"
}

.imoon-cart3:before {
    content: "\e758"
}

.imoon-coin:before {
    content: "\e759"
}

.imoon-history:before {
    content: "\e75a"
}

.imoon-clock:before {
    content: "\e75b"
}

.imoon-clock2:before {
    content: "\e75c"
}

.imoon-alarm:before {
    content: "\e75d"
}

.imoon-alarm2:before {
    content: "\e75e"
}

.imoon-drawer2:before {
    content: "\e75f"
}

.imoon-drawer3:before {
    content: "\e760"
}

.imoon-box-add:before {
    content: "\e761"
}

.imoon-box-remove:before {
    content: "\e762"
}

.imoon-download2:before {
    content: "\e763"
}

.imoon-bubble2:before {
    content: "\e764"
}

.imoon-bubbles3:before {
    content: "\e765"
}

.imoon-bubbles4:before {
    content: "\e766"
}

.imoon-user4:before {
    content: "\e767"
}

.imoon-users2:before {
    content: "\e768"
}

.imoon-zoom-in:before {
    content: "\e769"
}

.imoon-zoom-out:before {
    content: "\e76a"
}

.imoon-expand:before {
    content: "\e76b"
}

.imoon-contract2:before {
    content: "\e76c"
}

.imoon-expand2:before {
    content: "\e76d"
}

.imoon-aid:before {
    content: "\e76e"
}

.imoon-bug:before {
    content: "\e76f"
}

.imoon-pie:before {
    content: "\e770"
}

.imoon-stats:before {
    content: "\e771"
}

.imoon-bars2:before {
    content: "\e772"
}

.imoon-magnet:before {
    content: "\e773"
}

.imoon-remove:before {
    content: "\e774"
}

.imoon-remove2:before {
    content: "\e775"
}

.imoon-briefcase:before {
    content: "\e776"
}

.imoon-airplane:before {
    content: "\e777"
}

.imoon-tree:before {
    content: "\e778"
}

.imoon-cloud:before {
    content: "\e779"
}

.imoon-cloud-download:before {
    content: "\e77a"
}

.imoon-cloud-upload:before {
    content: "\e77b"
}

.imoon-download3:before {
    content: "\e77c"
}

.imoon-brightness-contrast:before {
    content: "\e77d"
}

.imoon-contrast:before {
    content: "\e77e"
}

.imoon-star:before {
    content: "\e77f"
}

.imoon-star2:before {
    content: "\e780"
}

.imoon-star3:before {
    content: "\e781"
}

.imoon-wink2:before {
    content: "\e782"
}

.imoon-grin:before {
    content: "\e783"
}

.imoon-grin2:before {
    content: "\e784"
}

.imoon-cool:before {
    content: "\e785"
}

.imoon-cool2:before {
    content: "\e786"
}

.imoon-point-down:before {
    content: "\e787"
}

.imoon-point-left:before {
    content: "\e788"
}

.imoon-warning:before {
    content: "\e789"
}

.imoon-notification:before {
    content: "\e78a"
}

.imoon-question:before {
    content: "\e78b"
}

.imoon-play2:before {
    content: "\e78c"
}

.imoon-pause2:before {
    content: "\e78d"
}

.imoon-stop2:before {
    content: "\e78e"
}

.imoon-backward2:before {
    content: "\e78f"
}

.imoon-forward3:before {
    content: "\e790"
}

.imoon-volume-mute2:before {
    content: "\e791"
}

.imoon-volume-increase:before {
    content: "\e792"
}

.imoon-volume-decrease:before {
    content: "\e793"
}

.imoon-loop2:before {
    content: "\e794"
}

.imoon-loop3:before {
    content: "\e795"
}

.imoon-arrow-down-right3:before {
    content: "\e796"
}

.imoon-arrow-down3:before {
    content: "\e797"
}

.imoon-arrow-down-left3:before {
    content: "\e798"
}

.imoon-arrow-left3:before {
    content: "\e799"
}

.imoon-arrow-up-left3:before {
    content: "\e79a"
}

.imoon-scissors:before {
    content: "\e79b"
}

.imoon-filter:before {
    content: "\e79c"
}

.imoon-filter2:before {
    content: "\e79d"
}

.imoon-font:before {
    content: "\e79e"
}

.imoon-text-height:before {
    content: "\e79f"
}

.imoon-paragraph-center:before {
    content: "\e7a0"
}

.imoon-paragraph-right2:before {
    content: "\e7a1"
}

.imoon-paragraph-justify2:before {
    content: "\e7a2"
}

.imoon-paragraph-left2:before {
    content: "\e7a3"
}

.imoon-paragraph-center2:before {
    content: "\e7a4"
}

.imoon-google-plus:before {
    content: "\e7a5"
}

.imoon-google-plus2:before {
    content: "\e7a6"
}

.imoon-google-plus3:before {
    content: "\e7a7"
}

.imoon-google-plus4:before {
    content: "\e7a8"
}

.imoon-google-drive:before {
    content: "\e7a9"
}

.imoon-vimeo3:before {
    content: "\e7aa"
}

.imoon-lanyrd:before {
    content: "\e7ab"
}

.imoon-flickr2:before {
    content: "\e7ac"
}

.imoon-flickr3:before {
    content: "\e7ad"
}

.imoon-flickr4:before {
    content: "\e7ae"
}

.imoon-github3:before {
    content: "\e7af"
}

.imoon-github4:before {
    content: "\e7b0"
}

.imoon-github5:before {
    content: "\e7b1"
}

.imoon-wordpress:before {
    content: "\e7b2"
}

.imoon-wordpress2:before {
    content: "\e7b3"
}

.imoon-skype:before {
    content: "\e7b4"
}

.imoon-reddit:before {
    content: "\e7b5"
}

.imoon-linkedin:before {
    content: "\e7b6"
}

.imoon-lastfm:before {
    content: "\e7b7"
}

.imoon-lastfm2:before {
    content: "\e7b8"
}

.imoon-camera2:before {
    content: "\e7b9"
}

.imoon-music:before {
    content: "\e7ba"
}

.imoon-headphones:before {
    content: "\e7bb"
}

.imoon-play3:before {
    content: "\e7bc"
}

.imoon-images:before {
    content: "\e7bd"
}

.imoon-yelp:before {
    content: "\e7be"
}

.imoon-libreoffice:before {
    content: "\e7bf"
}

.imoon-file-pdf:before {
    content: "\e7c0"
}

.imoon-file-openoffice:before {
    content: "\e7c1"
}

.imoon-file-word:before {
    content: "\e7c2"
}